<!DOCTYPE html>
<html>
<head>

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/user.css">
    <link rel="stylesheet" type="text/css" href="/public/css/food.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/searchbar.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/flex-box-textbook-course.css">
    <link rel="stylesheet" type="text/css" href="/public/css/nav_bar.css" />

</head>


<!--<body>-->

<body bgcolor="#12233F" style="text-align: center">
    <nav>
        <div class="user-button" id="login-button">
            <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">

            </img>
        </div>

        <div class="user-button" id="register-button">
            <!-- <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png"> -->
            <img src = "/public/images/register.svg">
            </img>
        </div>

    </nav>

    <div class='container' id="container-login">
        <h1>Log In</h1>
        <span class="close-btn">
            <!-- <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img> -->
            <img src = "/public/images/closed_button.svg">
        </span>

        <form>
            <input id='login-username' type="text" name="username" placeholder="Username">
            <input id='login-password' type="password" name="pass" placeholder="Password">
            <a href="#" id='login-a'>Log in</a>
            <div id="remember-container">
                <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
                <span id="remember">Remember me</span>
                <span id="forgotten">Forgotten password</span>
            </div>
        </form>
    </div>

    <div class='container' id="container-register">
        <h1>Register</h1>
        <span class="close-btn">
            <img src = "/public/images/closed_button.svg">
        </span>

        <form>
            <input id='register-username' type="email" name="username" placeholder="Username">
            <input id='register-password' type="password" name="pass" placeholder="Password">
            <input id='register-repassword' type="repassword" name="repass" placeholder="Re-Password">
            <a href="#" id='register-a'>Register</a>
        </form>
    </div>



    <!-- Forgotten Password Container -->
    <div id="forgotten-container">
        <h1>Forgotten</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>

        <form>
            <input type="email" name="email" placeholder="E-mail">
            <a href="#" class="orange-btn">Get new password</a>
        </form>
    </div>

    <div class="menu">
        <h2 class="title">UofT Helper</h2>

        <button id="button-1" class="tobe-accordion">COURSES</button>
        <div id="dropdown-panel-1" class="dropdown-panel">
            <!-- panel content starts -->
            <h4>Course Finder</h4>

            <hr align="center" style="height:5px; width: 400px; border:none;  color:#FFFFFF; background-color:#354C71;">
            <h5>Enter your course code and search for the time, professor of this course.</h5>
            <!--        <form class = "search-bar" action="#">-->
            <input id="search-input-1" class="search-bar button-1" type="text" placeholder="e.g.: ANT370H5F">
            <button id="search-course" class="search-bar">
              SEARCH
            </button>
            <!--        </form>-->
            <h5> </h5>
            <hr align="center" style="height:2px; width: 400px; border:none;  color:#273852; background-color:#354C71;">
            <h5> </h5>
            <div id="search-result-div-1">
                <!--            TODO-->
            </div>
            <!-- panel content end -->
        </div>

        <button id="button-2" class="tobe-accordion">TEXTBOOK</button>
        <div id="dropdown-panel-2" class="dropdown-panel">
            <!-- panel content starts -->
            <h4>Textbook Finder</h4>

            <hr align="center" style="height:5px; width: 400px; border:none;  color:#FFFFFF; background-color:#354C71;">
            <h5>Enter your course code and search for the textbook of this course.</h5>
            <!--        <form class = "search-bar" action="#">-->
            <input id="search-input-2" class="search-bar button-2" type="text" placeholder="e.g.: ENG418H1F">
            <button id="search-textbook" class="search-bar" type="submit">
              SEARCH
            </button>
            <!--        </form>-->
            <h5> </h5>
            <hr align="center" style="height:2px; width: 400px; border:none;  color:#273852; background-color:#354C71;">
            <h5> </h5>
            <div id="search-result-div-2">

            </div>
            <!-- panel content end -->
        </div>

        <button id="button-3" class="tobe-accordion">FOOD</button>
        <div id="dropdown-panel-3" class="dropdown-panel">
            <p>For detail information, hover your mouse over the photo.</p>
            <div class="foodBracket"></div>
        </div>
        <button id="button-4" class="tobe-accordion">PARKING</button>
        <div id="dropdown-panel-4" class="dropdown-panel">
            <div id="basic-map">
                <a onMouseOver="this.style.color='#3BAEE0'" onMouseOut="this.style.color='white'" style="color:white" href="#" class="add-park-markers">Show Parking Spot</a>
                <a onMouseOver="this.style.color='#3BAEE0'" onMouseOut="this.style.color='white'" style="color:white" href="#" class="add-food-markers">Show Food Spot</a>
                <h3>Searching For A Building ?</h3>

                <input type="search" id="mySearch" placeholder="Search for something..">
                <button onclick="SearchMap()">Try it</button>

                <p id="searchbuilding"></p>
                <div id="map_canvas" style="height:400px;  width:500px; border-color: #354C71;"></div>
            </div>
        </div>
    </div>
</body>

<!-- Ref -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>
<script src='/public/js/jquery-3.2.1.min.js'></script>
<script src='/public/js/jquery-ui.min.js'></script>
<script src='/public/js/notify.js'></script>
<script src = "/public/js/jquery.cookie.js"></script>
<script src = "/public/js/jquery.jsoncookie.js"></script>

<!-- Customize -->
<script src='/public/js/main.js'></script>
<script src="/public/js/user.js"></script>

<script src='/public/js/parking.js'></script>
<script src='/public/js/search_course.js'></script>
<script src='/public/js/search_textbook.js'></script>
<script src='/public/js/lodash.core.js'></script>
<script type="text/javascript" async defer src="http://maps.googleapis.com/maps/api/js?&key=AIzaSyAcCQUysA9ta6bOvWOUxTyPdsXx40X9jkw&callback=initialize"></script>

<!-- Websocket | socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
$(function() {
    // $.notify("Hello World");
    var socket = io();
    // $('form').submit(function(){
    //   socket.emit('chat message', $('#m').val());
    //   $('#m').val('');
    //   return false;
    // });
    socket.on('message', function(msg) {
        console.log(msg)
        $.notify(msg, 'info')
        // $('#content').text('收到消息：'+msg);
        // $('.notification.sticky').notify();
    });
});
</script>

</html>
