<!DOCTYPE html>
<html>

<script src= ../public/js/jquery-3.2.1.js></script>
<script src = ../public/js/jquery-3.2.1.min.js></script>
<script src = ../public/js/jquery-ui.min.js></script>

<script src = ../public/js/search_course.js></script>
<script src = ../public/js/search_textbook.js></script>
<script src = ../public/js/lodash.core.js></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" async defer src="http://maps.googleapis.com/maps/api/js?&key=AIzaSyAcCQUysA9ta6bOvWOUxTyPdsXx40X9jkw&callback=initialize"
>
</script>
<script src='../public/js/parking.js'></script>
<link rel = "stylesheet" type= "text/css" href= "../public/css/food.css"/>

<head>
 <link rel = "stylesheet"
   type = "text/css"
   href = "../public/css/searchbar.css" />
<link rel="stylesheet" type="text/css" href="../public/css/flex-box-textbook-course.css">

<style>
    * {
        font-family: calibri;
      }
    @font-face {
        font-family: 'Orbitron-Black';
        src: url('../public/fonts/Orbitron/Orbitron-Black.ttf');
    }
/*    mobile*/
    @media only screen{
        div.menu {
            position: absolute;
            width: 480px;
        }
        div.diff-view {
/*
            margin-left: 253px;
            background-color:transparent;
            border-left-style: solid;
            border-color:#FFFFFF;
            border-width: 2px;
            height:407px;
*/
            display: none;
        }
        button.accordion {
/*            background-color: #11233F;*/
            background-color: #273754;
/*            background-color: #FFFFFF;*/
/*            color: #566784;*/
            color:aliceblue;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            height: 83px;
            border-bottom-style: solid;
            border-width: 1px;
            border-color: #263752;
        }
        button.accordion.active{
            background-color: #FFFFFF;
            color: #3BAEE0;
        }
        button.accordion:hover {
            //background-color: #FFFFFF;
            color: #8FD1ED;
        }
        div.dropdown-panel {
            padding: 0 18px;
/*            padding: 0 1px;*/
            background-color: #071831;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            color:aliceblue
        }
    }
    .menu {
        position: absolute;
        /* top: 50%; */
        left: 50%;
        /* right: 30%; */
        transform: translate(-50%);
    }
    /*Text*/
    h2.title {
/*        font-family: 'Rozha One', serif;*/
        font-family: 'Orbitron-Black';
/*        font-family: 'Russo One', sans-serif;*/
        color: aliceblue;
        font-size:50px;
    }
</style>

<link rel = "stylesheet" type = "text/css" href = "../public/css/nav_bar.css" />

</head>


<!--<body>-->

<body bgcolor="#12233F" style="text-align: center">




<div class = "menu">
    <h2 class = "title">UofT Helper</h2>

    <button id = "button-1" class="tobe-accordion">COURSES</button>
    <div id = "dropdown-panel-1" class="dropdown-panel">
        <!-- panel content starts -->
        <h4>Course Finder</h4>

        <hr align="center" style="height:5px; width: 400px; border:none;  color:#FFFFFF; background-color:#354C71;">
        <h5>Enter your course code and search for the time, professor of this course.</h5>
<!--        <form class = "search-bar" action="#">-->
            <input id = "search-input-1" class = "search-bar button-1" type="text" placeholder="e.g.: ANT370H5F">
            <button id = "search-course" class = "search-bar">
              SEARCH
            </button>
<!--        </form>-->
        <h5> </h5>
        <hr align="center" style="height:2px; width: 400px; border:none;  color:#273852; background-color:#354C71;">
        <h5> </h5>
        <div id = "search-result-div-1">
<!--            TODO-->
        </div>
        <!-- panel content end -->
    </div>

    <button id = "button-2" class="tobe-accordion">TEXTBOOK</button>
    <div id = "dropdown-panel-2" class="dropdown-panel">
        <!-- panel content starts -->
        <h4>Textbook Finder</h4>

        <hr align="center" style="height:5px; width: 400px; border:none;  color:#FFFFFF; background-color:#354C71;">
        <h5>Enter your course code and search for the textbook of this course.</h5>
<!--        <form class = "search-bar" action="#">-->
            <input id = "search-input-2" class = "search-bar button-2" type="text" placeholder="e.g.: ENG418H1F">
            <button id = "search-textbook" class = "search-bar" type="submit">
              SEARCH
            </button>
<!--        </form>-->
        <h5> </h5>
        <hr align="center" style="height:2px; width: 400px; border:none;  color:#273852; background-color:#354C71;">
        <h5> </h5>
        <div id = "search-result-div-2">

        </div>
        <!-- panel content end -->
    </div>

    <button id = "button-3" class="tobe-accordion">FOOD</button>
    <div id = "dropdown-panel-3" class="dropdown-panel">
            <p>For detail information, hover your mouse over the photo.</p>
            <div class="foodBracket"></div>
    </div>
    <button id = "button-4" class="tobe-accordion">PARKING</button>
    <div id = "dropdown-panel-4" class="dropdown-panel">
        <div id="basic-map">
                <a onMouseOver="this.style.color='#3BAEE0'"  onMouseOut="this.style.color='white'" style="color:white" href="#" class="add-park-markers">Show Parking Spot</a>
                <a onMouseOver="this.style.color='#3BAEE0'"  onMouseOut="this.style.color='white'" style="color:white" href="#" class="add-food-markers">Show Food Spot</a>
                <h3>Searching For A Building ?</h3>

                <input type="search" id="mySearch" placeholder="Search for something..">
                <button onclick="SearchMap()">Try it</button>

                <p id="searchbuilding"></p>
                <div id="map_canvas" style="height:400px;  width:500px; border-color: #354C71;"></div>
            </div>      
    </div>
</div>

<!--
<div id = "view-button-1" class = "diff-view" >
</div>
<div id = "view-button-2" class = "diff-view">
</div>
-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>-->


<script>
    //meida only
    $(window).on('load resize',
        function(){
              /* the viewport is less than 500 pixels wide */
                $('.tobe-accordion').addClass('accordion');
                $('.tobe-accordion').prop("click", null);
                $('.tobe-accordion').off('click');
                var $acc = $(".tobe-accordion");
                var i;
                $acc.each(
                    function(){
                        $(this).click(function() {
                            $('.accordion.active').next().css('max-height', "0px");  $('.accordion.active').removeClass("active");
                            $(this).toggleClass("active");
                            var $panel = $(this).next();
                            if ($panel.css('max-height') != '0px'){
                                $panel.css('max-height', '0px');
                            } else {
                                $panel.css('max-height', $panel.prop("scrollHeight") + "px");
                                if ( $(this)[0].id== 'button-3'){
                                    getFood();
                                }
                            }
                    });
                });
        }
    );
        function getIdx(data, course_code){
          for(var x in data){
            if(data[x]['courses'][0]['code'] == course_code) return x;
          }
          return "Not Found";
        }
        function getCourseIdx(data, course_code){
          for(var x in data){
            if(data[x]['code']== course_code) return x;
          }
          return "Not Found";
        }
        $("#search-textbook").on('click', function(e){
            $.ajax({
                type: 'GET',
                url :'http://127.0.0.1:3000/site/textbook',
                dataType: 'json',
                success:function(data){
                    var textbook_data = data;
                    var course_code = $('#search-input-2')[0].value;
                    var idx = getIdx(textbook_data, course_code);
//                    "ENG418H1F"
                    //Append textbook data to div
                    var isbn = textbook_data[idx]['isbn'];
                    var image = textbook_data[idx]['image'];
                    var title = textbook_data[idx]['title'];
                    var bookstore_url = textbook_data[idx]['url'];
                    $('#search-result-div-2').empty();
                    $('#image-info-2').empty();
                    $('#detail-info-2').empty();
                    $('#search-result-div-2').append('<img class = "course_info" id = "course_img" src="'+image+ '" alt="textbook-img" width="100" height="130"  >');
                    $('#search-result-div-2').append('<div id = "detail-info-2" style="float:right;" ></div>');
                    $('#detail-info-2').append('<h4 class = "course_info" id = "course_id" style="vertical-align: top; background-color: #526178; color:#11233E;border: 100px 100px 100px 100px; ">'+course_code +'</h4>');
                    $('#detail-info-2').append('<h5 class = "course_info" id = "course_detail" style="  text-align: left; color:#526178; border: 100px 100px 100px 100px;">'+'<b>Title: </b>'+title +'</h5>');
                    $('#search-result-div-2').append('<h4></h4>');
                    $active_panel = $('.accordion.active').next();
                    $active_panel.css('max-height', $active_panel.prop("scrollHeight") + "px");
                }
            })
            .catch(err => {
              console.log(err);
              alert('Failure of getting data');
            })
        });
        $("#search-course").on('click', function(e){
            $.ajax({
                type: 'GET',
                url :'http://127.0.0.1:3000/site/course',
                dataType: 'json',
                success:function(data){
                    var textbook_data = data;
                    var course_code = $('#search-input-1')[0].value;
                    var idx = getCourseIdx(textbook_data, course_code);
//                    ""ANT370H5F""
                    //Append textbook data to div
                    var name = textbook_data[idx]['name'];
                    var description = textbook_data[idx]['description'];
                    $('#search-result-div-1').empty();
                    $('#detail-info-1').empty();
                    $('#search-result-div-1').append('<div id = "detail-info-1" style="float:right;" ></div>');
                    $('#detail-info-1').append('<h4 class = "course_info" id = "course_id" style="vertical-align: top; background-color: #526178; color:#11233E;border: 100px 100px 100px 100px; ">'+name +'</h4>');
                    $('#detail-info-1').append('<h5 class = "course_info" id = "course_detail" style="  color:#526178; text-align: left; border: 100px 100px 100px 100px;">'+'<b>Description: </b>'+description +'</h5>');
                    $('#search-result-div-1').append('<h4></h4>');
                    $active_panel = $('.accordion.active').next();
                    $active_panel.css('max-height', $active_panel.prop("scrollHeight") + "px");
                }
            })
            .catch(err => {
              console.log(err);
              alert('Failure of getting data');
            })
        });
function getFood(){
        $.ajax({
            type:'GET',
            url: 'http://127.0.0.1:3000/location/food',
            success:function(data){
                // similar to enumerate in python
                $('.foodBracket').empty();
                $.each(data,function(i,item){
                    if (item.campus == "UTSG"){
                        $(".foodBracket").append('<div class="foodcontainer" id="foodblock'+ i + '">')
                        if (item.image == "") {
                            $("#foodblock" + i).append('<div class="foodaccordion">'
                                + item.name + '<img src="https://www.iowaagribusinessradionetwork.com/wp-content/uploads/2017/05/sb10066792a-001.jpg" width=100%>' + '</div>')
                        } else {
                            $("#foodblock" + i).append('<div class="foodaccordion">'
                                + item.name + '<img src="' + item.image + '" width=100%>' + '</div>')
                        }
                        $("#foodblock" + i).append('<div class="foodpanel" id="food'+ i +'">')
                        $("#food"+i).append('<p>' + '<Strong>Associated Building: <a href = "http://map.utoronto.ca/building/' + item.building_id + '">'+ item.address + '</a>' + '</p>')
                        $("#food" + i).append('<h3>Hours</h3>')
                        $("#food" + i).append('<table class="access_table'+i+'">')
                        $(".access_table"+i)
                        .append('<thead>' +
                            '<tr>' + '<th>Sun</th>' +
                            '<th>Mon</th>' + '<th>Tue</th>' +
                            '<th>Wed</th>' + '<th>Thu</th>' +
                            '<th>Fri</th>' + '<th>Sat</th>' +
                            '</tr>' + '</thread>')
                        $(".access_table"+i).append('<tbody>' + '<tr id="tr'+i+'">' +
                            '</tr>' + '</tbody>')
                        $.each(item.hours, function(j, day){
                                if (day.closed) {
                                    $("#tr"+i).append('<td>close</td>')
                                } else {
                                    $("#tr"+i).append('<td>'+(day.open/3600)+
                                        ' am - <br>' + ((day.close/3600)-12)+' pm</td>')
                                }
                            })
                        $("#food"+ i).append("</table>")
                        // $("#food"+i).append('<p>'+ item.description + '</p>')
                        $("#foodblock"+i).append('</div>')
                        $(".foodBracket").append('</div>')
                        $active_panel = $('.accordion.active').next();
                        $active_panel.css('max-height', $active_panel.prop("scrollHeight") + "px");
                    }
                })
            },
            error:function(jqXHR, textStatus, errorThrown){
            }
        });
}
</script>




</body>
</html>