<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LogIn Form</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/css/user.css">
</head>

<body>
    <header>
        <div class="user-button" id="login-button">
            <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">
            </img>
        </div>

        <div class="user-button" id="register-button">
            <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">
            </img>
        </div>
    </header>

    <div class='container' id="container-login">
        <h1>Log In</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>

        <form>
            <input id='login-username' type="text" name="username" placeholder="Username">
            <input id='login-password' type="password" name="pass" placeholder="Password">
            <a href="#" id='login-a'>Log in</a>
            <div id="remember-container">
                <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
                <span id="remember">Remember me</span>
                <span id="forgotten">Forgotten password</span>
            </div>
        </form>
    </div>

    <div class='container' id="container-register">
        <h1>Register</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>

        <form>
            <input id='register-username' type="email" name="username" placeholder="Username">
            <input id='register-password' type="password" name="pass" placeholder="Password">
            <input id='register-repassword' type="repassword" name="repass" placeholder="Re-Password">
            <a href="#" id='register-a'>Register</a>
        </form>
    </div>

    <!-- Forgotten Password Container -->
    <div id="forgotten-container">
        <h1>Forgotten</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
        </span>

        <form>
            <input type="email" name="email" placeholder="E-mail">
            <a href="#" class="orange-btn">Get new password</a>
        </form>
    </div>

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>
<script src='/public/js/jquery-3.2.1.min.js'></script>
<script src='/public/js/jquery-ui.min.js'></script>
<script src="/public/js/user.js"></script>
<!-- <script src='public/js/notify.js'></script> -->

<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script>
    $(function() {
        // $.notify("Hello World");
        var socket = io();
        // $('form').submit(function(){
        //   socket.emit('chat message', $('#m').val());
        //   $('#m').val('');
        //   return false;
        // });
        socket.on('message', function(msg) {
            console.log(msg)
            $.notify(msg, 'info')
            // $('#content').text('收到消息：'+msg);
            // $('.notification.sticky').notify();
        });
    });
</script> -->

</html>
