* {
    font-family: calibri;
}

@font-face {
    font-family: 'Orbitron-Black';
    src: url('../public/fonts/Orbitron/Orbitron-Black.ttf');
}

/*    mobile*/

@media only screen {
    div.menu {
        position: absolute;
        width: 480px;
    }
    div.diff-view {
        /*
    margin-left: 253px;
    background-color:transparent;
    border-left-style: solid;
    border-color:#FFFFFF;
    border-width: 2px;
    height:407px;
*/
        display: none;
    }
    button.accordion {
        /*            background-color: #11233F;*/
        background-color: #273754;
        /*            background-color: #FFFFFF;*/
        /*            color: #566784;*/
        color: aliceblue;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        height: 83px;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #263752;
    }
    button.accordion.active {
        background-color: #FFFFFF;
        color: #3BAEE0;
    }
    button.accordion:hover {
        //background-color: #FFFFFF;
        color: #8FD1ED;
    }
    div.dropdown-panel {
        padding: 0 18px;
        /*            padding: 0 1px;*/
        background-color: #071831;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: aliceblue
    }
}

.menu {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    /* right: 30%; */
    transform: translate(-50%);
}

/*Text*/

h2.title {
    /*        font-family: 'Rozha One', serif;*/
    font-family: 'Orbitron-Black';
    /*        font-family: 'Russo One', sans-serif;*/
    color: aliceblue;
    font-size: 50px;
}
